@model Hopper.ViewModels.ProjectDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Project.Name</h1>
<div class="row">
    <div class="col-md-6">
        <p>@Html.ActionLink("Edit Project Details", "Edit", "Projects", new { id = Model.Project.Id }, null)</p>
        <p>Bug Count: @Model.Bugs.Count()</p>
    </div>
</div>

<h3>@Html.ActionLink("Create Issue", "New", "Bugs", new {id = Model.Project.Id}, null)</h3>

@if (Model.Bugs.Count() == 0)
{
    <p>There are no bugs in this database... yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Bug ID</th>
                <th>Summary</th>
                <th>Reported By</th>
                <th>Assignee</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bug in Model.Bugs)
            {
                <tr>
                    <td>@bug.IssueId</td>
                    <td>@Html.ActionLink(bug.Summary, "Index", "Bugs", new { issueId = bug.IssueId }, null)</td>
                    <td>@bug.ReportedBy</td>
                    <td>@bug.Assignee</td>
                    <td>@bug.IssueStatus</td>
                    <td>@bug.IssuePriority</td>
                    <td>@bug.CreatedOn.ToString()</td>
                    <td>@bug.UpdatedOn.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}