@model Hopper.Models.Project
@{
    ViewBag.Title = "Project Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Project Details</h3>

@using (Html.BeginForm("Save", "Projects"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" } )
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Code)
        @Html.TextBoxFor(p => p.Code, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(p => p.Id)
    <button type="submit" class="btn btn-primary">Create Project</button>
    <button type="reset" class="btn btn-danger">Reset</button>
}

<p style="padding-top:15px;">@Html.ActionLink("Back to Projects", "Index", "Projects")</p>